html, body {
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    color: #fafafa;
    
}

body {
    background-color: black;
    margin-top: 54px;

}

.padding {
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 0 auto;
   
}

.display-4 {
    padding-top: 50px;
}

p {
    font-size: 150%;

}


/*About*/

.about-info {
    padding-bottom: 80px;
}

/*Image Carousel*/

.carousel-caption {
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    padding-bottom: 30px;
    
}

.carousel-caption h1 {
    text-shadow: 5px 5px 5px #343a40;
}

/*Memberships*/

.card {
    background-color: transparent;

}

.membership h1 {
    font-family: 'Permanent Marker', cursive;
    color: orange;
    font-size: 70px;
    text-shadow: 2px 2px 2px #343a40;
}


/*Classes*/

.workout-class img {
    border-radius: 50%;
    width: 60%;
    height: auto;
    
}


/*Map*/

.googlemap {
    width: 100%;
    margin-bottom: 80px;
    padding: 70px;

}


/*Join*/

section {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid green;
    padding: 30px;
}

/*Payment*/

.submit-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


/*Footer*/

footer {
    background-color: #343a40;
    padding-top: 30px;
    color: #fafafa
}

footer i {
    color: #fafafa;
    size: 300%;
    padding: 10px;
}

hr.line {
    border-top: 1px solid #fafafa;
    width: 50%;

}


/*Submit*/

.submit {
    margin-top: 60px;
    text-align: center;
}

.submit div {
    padding: 30px;
    
}

.app-icons i {
    color: #fafafa;
    text-shadow: 5px 5px 5px #343a40;
    font-size: 100px;
    margin: 10px;
}



/*
Extra small devices (xs) (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small devices (sm) (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (md) (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (lg) (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (lx) (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/